{% extends 'base.html' %}<!-- ทำการสืบทอดไปยังหน้า base.html--> 

{% block title %}<title>Home</title> {% endblock title %} <!-- ทำการสืบทอดtag title ไปยังหน้า base.html--> 

{% block content %}<!-- ทำการสืบทอดตั้งแต่หัว content จนถึงท้าย ไปยังหน้า base.html--> 
   <div class="main" style="text-align: center;">
        {% for i in people %}<!-- jinja to template ที่ใช้สำหรับเปิด loop-->
        <p>Username is: {{i.username}}</p>
        <!-- <p>{{i.password}}</p> -->
        <p>Email is: {{i.email}}</p>
        <img src="{{url_for('static', filename='img/rimtang.jpg')}}" alt="">
        {% endfor %}<!--ปิด loop -->
    </div>
{% endblock content %}<!-- ท้าย content--> 